<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right hidden-xs">
        Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; @DateTime.UtcNow.Year <a href="#">Local Solutions</a>.</strong> All rights reserved.
</footer>